*{
	margin:0; padding:0;
	font-family:roboto,arial;
}

body{
	width:100%;
	background:white;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:red;
}
h3{
	text-align:center;
	width:50%;
	margin:auto;
	font-size:15px;
}
h5{
	font-size:15px;
	text-align:center;
	height:20px;
	width:100%;
	line-height:20px;
}
h4{
	font-size:15px;
	margin-top:10px;
	height:20px;
	width:100%;
	line-height:20px;
}
hr{
	width:30%;
	margin:auto;
	height:5px;
	border:none;
	margin-top:5px;
	background:#c4161c;
}

/**top**/
#top{
	width:100%;
	height:40px;
	background:#DD3333;
}
#top-content{
	width:85%;
	height:40px;
	margin:auto;
	line-height:40px;
	font-size:12px;
}
.top-left{
	float:left;
	width:70%;
	color:black;
	font-size:11px;

}
.top-left a:hover{
	color:white;
}
.top-right{
	float:right;
}
.top-right a:hover{
	color:white;
}
/**header**/

#header{
	width:100%;
	height:60px;
	background:white;
	border-bottom:1px solid #ddd;
}
#header-content{
	width:85%;
	height:60px;
	margin:auto;
	background:white;
}
#header-scroll{
	width:100%;
	height:60px;
	position:fixed;
	top:0;
	z-index:10000;
	display:none;
	opacity:0.9;
	background:white;
}
#header-content-scroll{
	width:85%;
	height:60px;
	margin:auto;
	background:white;
}
#menu-bar{
	display:none;
}
.logo{
	width:10%;
	height:60px;
	float:left;
}
.logo img{
	margin-top:5px;
	width:100%;
	height:55px;
}
.menu{
	width:70%;
	float:left;
	height:40px;
	margin-top:15px;
	margin-left:30px;
}
.menu li{
	float:left;
	width:80px;
}
.menu li a{
	color:black;
	font-size:11px;
	font-weight:bold;
	display:block;
	text-align:center;
	line-height:40px;
}
.menu li a:hover{
	color:#dd3333;
}

/**search*/
.search-btn{
	display:none;
	width:30%;
	height:30px;
	position:relative;
	right:155px;
	top:15px;
}
#menu-bar{
	display:none;
}
.menu-bar{
	display:none;
}
/**slider**/

#slider{

	width:100%;
	height:500px;
}
.bixslider img{
	width:100%;
	height:500px;
}

/**main**/
#main{
	width:85%;
	margin:auto;
	margin-top:10px;
}
#main-left{
	width:69%;
	float:left;
	box-shadow:2px 2px 2px 2px rgba(0,0,0,0.1);
}
#main-right{
	width:30%;
	float:left;
	margin-left:5px;
	box-shadow:2px 2px 2px 2px rgba(0,0,0,0.1);
}
/**main-right**/
#main-right li{
	width:98%;
	height:40px;
	border:1px solid #ddd;
	margin:5px 5px;
}
#main-right li a{
	line-height:40px;
	color:black;
	display:block;
	transition:1s ease all;
}
#main-right li a:hover{
	transition:1s ease all;
	color:red;
	background:#ddd;
}
/**ain-thongtin**/
#main-thongtin{
	width:80%;
	margin:auto;
	margin-top:50px;
}
.main-thongtin-left{
	width:30%;
	height:300px;
	float:left;
}
.main-thongtin-right{
	width:60%;
	margin-left:50px;
	margin-top:20px;
	float:right;
}
.thongtin-img{
	width:100%;
	height:150px;
	border-radius:50%;
}
.thongtin-img img{
	width:100%;
	height:150px;
	border-radius:50%;	
}
.thongtin-title{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:red;
	font-weight:bold;
	font-size:18px;
}
.thongtin-button{
	width:100%;
	height:50px;
}
.main-thongtin-right label{
	width:100%;
	height:40px;
	line-height:40px;
}
/***title**/
#title{
	width:99.5%;
	height:40px;
	line-height:40px;
	padding-left:0.3em;
	font-weight:bold;
	color:white;
	background:#DD3333;
}
#title i{
	font-weight:bold;
}
/**khoa hoc**/
#khoa-hoc{
	width:85%;
	height:350px;
	margin:auto;
	margin-top:50px;
	overflow: hidden;
}
.clear{
	clear: both;
}
#khoa-hoc .khoa-hoc-content{
	width: 23%;
	height: 300px;
	float: left;
	margin-left: 20px;
}
.khoa-hoc-content .khoa-hoc-image{
	width: 100%;
	height: 200px;
}
.khoa-hoc-image img{
	width: 100%;
	height: 100%;
	transition:0.5s ease all;
}
.khoa-hoc-image img:hover{
	transition:0.5s ease all;
	transform:scale(1.05);
}
.khoa-hoc-content .khoa-hoc-slider{
	width: 100%;
	height: 100px;
	text-align: center;
	margin-top: 10px;
}
.khoa-hoc-slider button{
	border-radius: 10px;
	background-color: #C4161C;
	color: white;
	border:none;
	width:30%;
	margin-top:10px;
	font-size:10px;
	line-height:25px;
	cursor:pointer;
	font-weight:bold;
	height: 25px;
	transition:0.5s ease all;
}
.khoa-hoc-slider button:hover{
	transition:0.5s ease all;
	transform:scale(1.05);
}
/**lua chon**/
#lua-chon{
	width:85%;
	margin:auto;
	margin-top:50px;
}
#lua-chon .lua-chon-content{
	width: 33%;
	height: 350px;
	float: left;
	margin-left: 20px;

}
.lua-chon-content .lua-chon-content-1{
	width: 100%;
	border: 1px solid #C4161C;
	margin-bottom: 15px;
}
.title{
	width: 94.5%;
	background:#c4161c;
	height: 30px;
	line-height: 30px;
	font-size:13px;
	color:white;
	padding-left:20px;
}

.lua-chon-content-1 .lua-chon-content-1-content{
	width: 100%;
	
}
.lua-chon-content-1 .lua-chon-content-2-content{
	width: 100%;
	
}
.lua-chon-content-1-content p{
	height:130px;
	padding: 2px 20px 2px 20px;
}
.lua-chon-content-2-content p{
	height:130px;
	padding: 2px 20px 2px 20px;
}
.lua-chon-content-1-content .lua-chon-content-1-image{
	width: 25%;
	margin:auto;
	margin-top:30px;
}
.lua-chon-content-1-image img{
	width: 100%;
	height: 50px;
}
.lua-chon-content-2-content .lua-chon-content-1-image{
	width: 25%;
	margin:auto;
	margin-top:30px;
}
.lua-chon-content-1-image img{
	width: 100%;
	height: 50px;
}
#lua-chon .lua-chon-slider{
	width: 27%;
	height: 350px;
	float: left;
	margin-left: 20px;
}
.lua-chon-slider img{
	width: 100%;
	height: 80%;
}
/**gioi-thieu**/
#gioi-thieu{
	width:100%;
	height:490px;
	margin:auto;
	margin-top:20px;
	background:url("../img/309.jpg");
}
.gioi-thieu{
	background:black;
	width:100%;
	height:490px;
	opacity:0.8;
}
#content{
	width:85%;
	height:370px;
	margin:auto;
}
.content-nd{
	width:30%;
	height:320px;
	float:left;
	opacity:none;
	margin-top:40px;
	margin-bottom:10px;
	margin-left:30px;
	background:white;
	transition:1s ease all;
}
.content-nd:hover{
	transition:1s ease all;
	transform:translateY(-5px);

}
.content-img{
	width:100%;
	height:320px;
}
.content-img img{
	width:100%;
	height:320px;
	transition:0.5s ease all;
}
.content-img img:hover{
	transition:0.5s ease all;
	transform:scale(1.02);
}
.content-title{
	width:100%;
	height:50px;
	font-size:8px;
	text-align:center;
	background:white;
}
/**video**/
#video{
	width:85%;
	height:900px;
	margin:auto;
	margin-top:50px;
}
.main-header{
	text-align: center;
	color:#222222;
	font-size: 1.25em;
	font-weight: 700;
	font-family: "Roboto";
	line-height: 1.6;

        }
#video .main-video {
	height: 700px;
	width: 65%; 
	float: left;
	margin-left: 20px;

}
#video .main-video iframe{
	width: 100%;
	height: 700px;
	margin-top: 20px;


}
#video .right-video{
	width:32%;
	 height:250px;
	 float:left; 
	 margin-top: 20px;
	 overflow: hidden;
}
#video .right-video iframe{
	width: 100%;
	height: 250px;
	margin-left:25px;

}
#video .bot-video{	  
	width: 15%; 
	height: 130px; 
	margin-top: 30px;
	margin-left: 20px;
	float: left;

}
#video  .bot-video img{
	width: 100%;
	height: 130px;
	 margin-top: 30px;

}
/**camnha*/
#cam-nhan{
	width:85%;
	height:300px;
	margin:auto;
	margin-top:200px;
	margin-top:50px;
}
#cam-nhan .comment{
	width: 33%;
	float: left;
	height: 150px;
	text-align: center;
 	 margin: 0 auto;
   	 font-style: italic;
   	 font-size: 96%;
   	 line-height: 1.6;
   	 margin-top:30px;
}
.comment-img{
	width:50%;
	height:150px;
	float:left;
	border-radius:50%;
} 
.comment-img img{
	width:100%;
	height:150px;
	border-radius:50%;
}
.comment-title{
	width:48%;
	margin-left:5px;
	float:left;
}
/**updown**/
#updown{
	width:3%;
	height:20px;
	position:fixed;
	bottom:150px;
	right:30px;
	color:white;
}
.updown-header{
	width:100%;
	height:36px;
	color:white;
	cursor:pointer;
	line-height:36px;
	text-align:center;
	margin-top:10px;
	border-radius:50%;
	background:green;
	opacity:0.9;
}
.updown-header i {
	color:white;
	font-size:18px;
}
/*bottom**/
#bottom{
	width:100%;
	height:100px;
	margin:auto;
	margin-top:10px;
	background:#262626;
}
.bottom-title{
	width:85%;
	margin:auto;
	height:40px;
	border-bottom:1px solid #222222;
}
.bottom-title li{
	float:left;
	width:60px;
}
.bottom-title li a{
	display:block;
	text-align:center;
	line-height:40px;
	font-size:10px;
	color:#606045;
}
.bottom-content{
	width:85%;
	height:40px;
	color:#606045;
	line-height:40px;
	margin:auto;
	font-size:12px;
}
/*button**/
#button{
	float:left;
	width:30%;
	height:25px;
	margin-left:10px;
	background:#DD3333;
	border:none;
	color:white;
	border-radius:50%;
	line-height:25px;
	cursor:pointer;
	text-align:center;
}
#button a i{
	color:white;
}
/**btn**/
#btn{
	float:right;
	width:3%;
	margin-top:15px;
	height:30px;
	background:#DD3333;
	border:none;
	color:white;
	line-height:30px;
	cursor:pointer;
	border-radius:50%;
	margin-right:5px;
	text-align:center;
}
/**login**/

.login{
	float:right;
	width:3%;
	height:30px;
	margin-top:15px;
	background:#0098DB;
	border:none;
	color:white;
	line-height:30px;
	cursor:pointer;
	border-radius:50%;
	text-align:center;
}
.login a{
	color:white;
}
.dangky{
	float:right;
	width:3%;
	height:30px;
	margin-top:15px;
	background:green;
	border:none;
	color:white;
	margin-left:5px;
	line-height:30px;
	cursor:pointer;
	border-radius:50%;
	text-align:center;
}
.dangky a{
	color:white;
}
input[type="search"]{
	width:70%;
	height:30px;
	line-height:30px;
	border-radius:0.5em;
	position:absolute;
	padding-left:10px;
	border:1px solid #ddd;
}
input[type="text"]{
	width:99%;
	height:40px;
	padding-left:5px;
	margin-top:10px;
	border-radius:0.5em;
	border:1px solid #ddd;
}
textarea{
	width:99%;
	height:100px;
	padding-left:5px;
	border-radius:0.5em;
	border:1px solid #ddd;
	margin-top:10px;
}
button{
	width:30%;
	height:40px;
	color:white;
	line-height:40px;
	font-weight:bold;
	background:green;
	border:none;
	cursor:pointer;
	margin-top:10px;
	border-radius:0.5em;
}
/*tabel*/
table{
	width:100%;
	margin-top:10px;
}
table,tr,td{
	border-collapse:collapse;
	border:1px solid #ddd;
}
thead{
	background:#DD3333;
	color:white;
	text-align:center;
	height:40px;
	line-height:40px;
	border-right:1px solid white;
}